<div class="container-fluid create-collection">
    <div class="row justify-content-center">
        <div class="col-md-6 formulary-form px-3 py-3">
            <h1>Create collection</h1>
            <hr>
            <form action="/collection/create-collection" method="post" enctype="multipart/form-data">
                <label for="text">Title</label>
                <input type="text" name="title">
                <hr>
                <label for="">Description</label>
                <input type="text" name="description">

                <hr>
                <label for="">Camera</label>
                <input type="text" name="camera">
                <hr>

                <div>
                    <label for="newPhotoCollection" class="form-label">Select profile photo</label>
                    <input type="file" class="form-control" id="newPhotoCollection" name="newPhotoCollection">
                </div>
                <hr>

                <button type="submit">Create</button>
            </form>
        </div>
    </div>
</div>