<form action="/collection/create-collection" method="post" enctype="multipart/form-data">
    <input type="text" name="title">

    <input type="text" name="description">
    <input type="text" name="camera">


    <label for="newPhotoCollection" class="form-label">Select profile photo</label>
    <input type="file" class="form-control" id="newPhotoCollection" name="newPhotoCollection">

    <button type="submit">enviar</button>
</form>