<div class="container mt-5">

    <div class="row">

        {{#each collections}}

        <div class="col-4 card p-2 m-4">
            <h2>{{author.username}} Collection</h2>

            <a href="/collection/{{author._id}}/user-collection" class="btn btn-dark">View User Collection</a>


        </div>
        {{/each}}



    </div>
</div>