{{!-- <div class="container"> --}}
    <div class="card" style="width: 30rem;">
        {{!-- {{photo.author}} --}}
        <img class="card-img-top greyscale-img-black-details" src={{photo.download_url}}
            alt="foto gallery black and white">
    </div>
    {{!--
</div> --}}