<div class="container collections">

    <h2 class="titulo-collections">Collections</h2>

    <a href="/photos/photo-black-gallery" class="black">Black and White</a>

    <a href="/photos/photo-color-gallery" class="color">Color</a>

</div>