<div class="row background-black-gallery">

    {{#each allPhotosGallery}}

    <div class="col-md-4">
        <article class="photo mb-5">
            <div class="card text-center" style="width: 18rem;">
                <img class="card-img-top greyscale-img" src={{download_url}} alt="foto gallery">
                <div class="card-body">
                    <h5 class="card-title">{{author}}</h5>
                    <a href="/photos/black-details/{{id}}" class="btn btn-dark col-12 mx-auto">View Photo</a>
                </div>
            </div>
        </article>
    </div>

    {{/each}}

</div>