<h1>{{appTitle}} 🚀</h1>

<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/signup">Signup</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/logout">Logout</a></li>
            <li><a href="/user/user-profile">User profile</a></li>
        </ul>
    </nav>

    <a href="/photos/photo-index">Gallery</a>
</body>