<div class="container">

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Username: {{username}}</h5>
            <p class="card-text">Email: {{email}}</p>

            <a href="/user/edit-profile" class="btn btn-dark">Editar Perfil</a>

            <a href="/user/create-collection" class="btn btn-dark">Create collection</a>

        </div>
    </div>

</div>